@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background-color: #1c1f2b;
  --foreground-background-color: #282c38;
  --button-background-color: #39404d;
  --text-color: #abb2bf;
  --variable-color: #d7d7ff;
  --selection-color: #3e4b5b;
  --highlight-color: #485766;
}


*
{
  margin:0px;
  padding:0px;
  box-sizing: border-box; 
}

body
{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
}

.folder
{
  color:white
}

.file
{
  color: var(--text-color);
}

.folder .subfiles
{
  margin-left:20px;
}


.listbutton
{
  margin: 0px;
  padding:0px;
  text-align: left;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
}

.folderopen::before
{
  content:'v ';
}

.folderclose::before
{
  content:'> ';
}

.listbutton:hover
{
  background-color: var(--button-background-color);
}
.listbutton:active
{
  background-color: var(--background-color);
}

#start
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

#start div
{
  background-color: var(--foreground-background-color);
  padding:20px;
  height: 50%;
  width: 30%;
}

div#sidebar
{
  height: 100vh;
  width: 300px;
  padding: 15px;
  background-color: var(--foreground-background-color);
}

button
{
  border: none;
  padding:10px;
  margin:10px 0px;
  display: block;
  font-size: 20px;
  background-color: var(--button-background-color);
  color:var(--text-color);
  cursor: pointer;
  width: 100%;
}

button:hover
{
  background-color: var(--highlight-color);
  color:var(--text-color);
}

button:active
{
  background-color: var(--background-color);
}

.codearea
{
  width:calc(100%);
  height: 100vh;
  background-color: var(--background-color);
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 20px;
  user-select: all;
}

.cm-editor *
{
  font-family: "Fira Code";
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
}


.cm-editor .cm-gutters
{
  background-color: var(--button-background-color);
}

.cm-editor .cm-activeLineGutter
{
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.App
{
  display: flex;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--foreground-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  cursor:default;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}
