@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background-color: #0f111a;
  --foreground-background-color: #1c1f2b;
  --button-background-color: #272b33;
  --text-color: #abb2bf;
  --variable-color: #d7d7ff;
  --selection-color: #3e4b5b;
  --highlight-color: #485766;
  --popout-color: #89ddff;
}


*
{
  margin:0px;
  padding:0px;
  box-sizing: border-box; 
}

body
{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
  overflow: hidden;
}

.folder
{
  color:white
}

.file
{
  color: var(--text-color);
}


.folder .subfiles
{
  margin-left:20px;
}


.listbutton
{
  margin: 0px;
  padding:0px;
  text-align: left;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
}

.file-tree
{
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rmbutton
{
  transform: scale(0.8);
  opacity: 0.7;
}

.rmbutton:hover
{
  transform: scale(0.9);
  opacity: 1;
}

.rmbutton:active
{
  opacity: 0.5;
}

.folderopen::before
{
  content:'v ';
}

.folderclose::before
{
  content:'> ';
}

.listbutton:hover
{
  background-color: var(--button-background-color);
}
.listbutton:active
{
  background-color: var(--background-color);
}

#start
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

#start div
{
  background-color: var(--foreground-background-color);
  padding:20px;
  min-height: 50%;
  max-width: 30%;
  min-width: 200px;
}

div#sidebar
{
  height: 100vh;
  min-width: 300px;
  padding: 15px;
  background-color: var(--foreground-background-color);
}

.smallbtn
{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.listbutton svg
{
  display: inline-block;
  width: 1ch;
  margin-right: 1ch;
}

button
{
  border: none;
  padding:10px;
  margin:10px 0px;
  display: block;
  font-size: 20px;
  background-color: var(--button-background-color);
  color:var(--text-color);
  cursor: pointer;
  width: 100%;
}

button:hover
{
  background-color: var(--highlight-color);
  color:var(--text-color);
}

button:active
{
  background-color: var(--background-color);
}



.App
{
  display: flex;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--foreground-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  cursor:default;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
